POSTGRES_DB=notification_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
REDIS_PORT=6379
JAVA_SERVICE_PORT=8080
NODE_SERVICE_PORT=3000
DOTNET_ENVIRONMENT=Production
SPRING_JPA_HIBERNATE_DDL_AUTO=validate
NOTIFICATION_RATE_LIMIT_MAX_REQUESTS=10
NOTIFICATION_RATE_LIMIT_WINDOW_SECONDS=60
